
/* Theme: Transluscent
 * IE stylesheet
 *
 * This stylesheet is designed to be used only for IE 6 to force them to be
 * compliant.
 * Every effort was taken to make the base stylesheet compatible with IE 6, but
 * this stylesheet contains code deliberately designed to make the appearance of the
 * website deviate from the ideal.
 *
 * See /styles/transluscent/t_ie_final.css for the final, compressed version.
 *
 * Copyright Spartabots Robotics Club, 2010-2011
 */

html{
	height:100%;
	margin-bottom:1px;
	position:static;
}

body{
	position:static;
}
 
#boundary{
	width:50em;
	margin:0 auto;
	text-align:center;
	height:auto;
}

#content{
	background-color:#fff;
	margin:1em 0;
	height:auto;
}

#nav {
	position:static;
	left:0;
	top:0;
	margin:0 auto;
	width:49em;
	height:3em;
}

#nav ul {
	background-color:#fff;
}

#nav ul .dropdown{
	height:2em;
	overflow:hidden;
	visibility:hidden;
	display:none;
}

#boundary .error{
	margin-top:1em;
	max-width:47.3em;
}

#sidebar{
	position:relative;
}

#blogroll{
	width:30.5em;
	position:relative;
	margin-left:0;
	background:#44ff44;
}
