/* Theme: Transluscent
 * 
 * This CSS has been compressed.
 * See /styles/transluscent/t_base.css
 * or  /styles/transluscent/t_ie.css
 * for the fully commented versions.
 */
html{height:100%;margin-bottom:1px;position:static;}#boundary{width:50em;margin:0 auto;text-align:center;height:auto;}#content{background-color:#fff;margin:1em 0;height:auto;}#nav {position:relative;left:0;top:0;margin:0 auto;width:49em;}#nav ul {background-color:#fff;}#nav ul .dropdown{width:5.8em;height:2em;overflow:hidden;}#boundary .error{margin-top:1em;max-width:47.3em;}#sidebar{position:relative;}#blogroll{width:30.5em;position:relative;margin-left:0;}