
/* Theme: Transluscent
 * Links Stylesheet
 *
 * This stylesheet alters links so that they accurately reflect
 * their content.
 *
 * See t_links_final.css for the final, compressed code.
 *
 * The icons used and the bulk of the code was obtained from 
 * <http://pooliestudios.com/projects/iconize/>
 * (We altered some bits slightly, and removed some superfluous items.
 */

 
/* Iconize 0.5 */


/* websites (pictures and movies) */
a[href*="youtube.com/watch?"]{ 
	padding:5px 20px 5px 0;
	background:transparent url(icons/icon_film.gif) no-repeat center right;
}

a[href*="flickr.com/photos/"], a[href*="zooomr.com"], a[href*="imageshack.us"]{ 
	padding:5px 20px 5px 0;
	background:transparent url(icons/icon_pic.gif) no-repeat center right;
}


/* extensions */
a[href$='.doc'], a[href$='.docx'], a[href$='.rtf']{
	padding:5px 20px 5px 0;
	background:transparent url(icons/icon_doc.gif) no-repeat center right;
}

a[href$='.txt']{
	padding:5px 20px 5px 0;
	background:transparent url(icons/icon_txt.gif) no-repeat center right;
}

a[href$='.xls'], a[href$='.xlsx']{
	padding:5px 20px 5px 0;
	background:transparent url(icons/icon_xls.gif) no-repeat center right;
}

a[href$='.rss'], a[href$='.atom']{ 
	padding:5px 20px 5px 0;
	background:transparent url(icons/icon_feed.gif) no-repeat center right;
}

a[href$='.torrent']{ 
	padding:5px 20px 5px 0;
	background:transparent url(icons/icon_torrent.gif) no-repeat center right;
}

a[href$='.exe']{ 
	padding:5px 20px 5px 0;
	background:transparent url(icons/icon_exe.gif) no-repeat center right;
}

a[href$='.pps'], a[href$='.ppsx']{ 
	padding:5px 20px 5px 0;
	background:transparent url(icons/icon_pps.gif) no-repeat center right;
}

a[href$='.pdf']{ 
	padding:5px 20px 5px 0;
	background:transparent url(icons/icon_pdf.gif) no-repeat center right;
}

a[href$='.fla'], a[href$='.swf']{ 
	padding:5px 20px 5px 0;
	background:transparent url(icons/icon_flash.gif) no-repeat center right;
}

a[href$='.zip'], a[href$='.rar'], a[href$='.gzip'], a[href$='.bzip']{ 
	padding:5px 20px 5px 0;
	background:transparent url(icons/icon_archive.gif) no-repeat center right;
}

a[href$='.ttf']{ 
	padding:5px 20px 5px 0;
	background:transparent url(icons/icon_ttf.gif) no-repeat center right;
}

a[href$='.jpg'], a[href$='.gif'], a[href$='.png'], a[href$='.bmp'], a[href$='.jpeg'], a[href$='.svg']{ 
	padding:5px 20px 5px 0;
	background:transparent url(icons/icon_pic.gif) no-repeat center right;
}

a[href$='.mov'], a[href$='.wmv'], a[href$='.mp4'], a[href$='.avi'], a[href$='.mpg']{ 
	padding:5px 20px 5px 0;
	background:transparent url(icons/icon_film.gif) no-repeat center right;
}

a[href$='.mp3'], a[href$='.wav'], a[href$='.ogg'], a[href$='.wma'], a[href$='.m4a']{ 
	padding:5px 20px 5px 0;
	background:transparent url(icons/icon_music.gif) no-repeat center right;
}


/* email */
a[href ^="mailto:"]{
	padding:5px 20px 5px 0;
    background:transparent url(icons/icon_mailto.gif) no-repeat center right;
}


/* External Links */
/* Found from <http://meganmcdermott.com/2006/10/26/marking-external-links-with-css/> */
/* Using Wikipedia's 'External' icon. */
a[rel~="external"]{
	background:transparent url(icons/external.png) 99% 40% no-repeat;
	padding-right:1em;
}

/* use this class to make sure that images won't get iconized */
.suppressIcon{
	padding-right: 0 !important;
	background-image: none !important;
}