# This is a comment
# spartabots.co.cc


# Not sure what this does (but leave this alone)
IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*


# Enable better indexing in folders
IndexOptions FancyIndexing
IndexOptions FoldersFirst
IndexOptions NameWidth=*


# Caching specific file-types for speed increase
# All numbers in seconds.
<FilesMatch ".(flv|gif|jpg|jpeg|png|ico|swf)$">
Header set Cache-Control "max-age=604800"
</FilesMatch>
<FilesMatch ".(html|css|js)$">
Header set Cache-Control "max-age=300"
</FilesMatch>


# Error documents
ErrorDocument 403 /errors/403.html
ErrorDocument 404 /errors/404.html
ErrorDocument 418 /errors/418.html
ErrorDocument 500 /errors/500.html


# Enable server side includes for html
AddHandler server-parsed .html
AddHandler server-parsed .shtml
Options Indexes FollowSymLinks Includes


# Force browser to download and not simply view these files
AddType application/octet-stream .doc
AddType application/octet-stream .pdf
AddType application/octet-stream .midi
AddType application/octet-stream .txt


# Misc stuff
AddType application/atom+xml .atom
SetEnv SERVER_ADMIN admin@spartabots.co.cc


# Not sure what these do (but leave these alone)
<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName spartabots.co.cc
